[SERVICE]
    Flush 1
    Log_Level info

[INPUT]
    Name forward
    unix_path /var/run/fluent.sock

[INPUT]
    Name forward
    Listen 0.0.0.0
    Port 24224

[INPUT]
    Name tcp
    Tag firelens-healthcheck
    Listen 127.0.0.1
    Port 8877

[OUTPUT]
    Name null
    Match firelens-healthcheck

[OUTPUT]
    Name loki
    Match *
    Labels job=ecs_fargate
    label_keys $container_name,$ecs_task_definition,$source,$ecs_cluster
    remove_keys container_id,ecs_task_arn
    http_user ${LOKI_HTTP_USER}
    http_passwd ${LOKI_HTTP_PASSWD}
    host ${LOKI_HOST}
    port ${LOKI_PORT}
    tls on
    line_format key_value

[OUTPUT]
    Name s3
    Match *
    bucket ${LOKI_S3_BUCKET}
    region ap-northeast-2
    store_dir /tmp/fluent-bit/s3
    compression gzip
    s3_key_format /earlybird-server-log/%Y/%m/%d/%H/%Y_%m_%d_%H_%M.gz
    static_file_path On
    upload_timeout 3m
    use_put_object On
